<!doctype html>
<html lang="en">
  <head>
    <title>To-do List</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
     <!-- Bootstrap-3,Bootstrap-4,angularjs cdn-->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="icon" href="assets\images\favicon.png" type="image/gif" sizes="16x16">
    <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/css/stylesheet.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <!-- Icons -->
    <script src="https://unpkg.com/ionicons@4.2.2/dist/ionicons.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="mx-auto">
        <div class="container" id="control">
         <div class="jumbotron" id="jumbo">
             <h1 class="display-4" style="text-align:center;color:black;">THINGS TO DO</h1>
             <hr />
                <div ng-app="todo" ng-controller="ctrl">

                <div style="overflow-x:hidden;overflow-y:scroll;height:190px;">
                  <table>
                     <tr ng-repeat="x in item | filter:filtering">
                         <td width="90%"><h3><b>{{ x }}</b></h3></td>
                         <td width="10%"><button type="button" ng-click="removeitem($index)" class="btn btn-default" id="btn1"><ion-icon ios="ios-trash" md="md-trash"></ion-icon></button></td>
                        </tr>
                     </table>
                </div>


                  <div class="row">
                    <div class="container mt-3">
                      <div class="input-group mb-3">
                          <input type="text" ng-model="newitem" class="form-control" placeholder="Enter task......." id="ip1">
                          <div class="input-group-append">
                            <button ng-click="additem()" class="btn btn-default" type="submit" id="btn">ADD</button>
                          </div>
                          <p>{{errortext}}</p>
                       </div>

                       <div class="input-group mb-3">
                           <input type="text" ng-model="filtering" class="form-control" placeholder="Filter" id="ip1" ng-show="showMe">
                           <div class="input-group-append">
                             <button ng-click="myFunc()" class="btn btn-default" type="submit" id="btn">FILTER</button>
                           </div>
                        </div>

                      </div>
                    </div>


                  </div>
               </div>
         </div>
      </div>
    </div>
  </div>
    <script type="text/javascript" src="assets/js/script.js"></script>
  </body>
</html>
