body{
     height: 100%;
     background-size: cover;
     background-repeat: no-repeat;
     background-attachment: fixed;
     font-family: 'Cinzel', serif;
     margin-top:50px;
     color: #293d3d;
    }


    @media (min-width: 1025px )  {
      body{
        background-image: url('..\\images\\back1.jpg');
      }
      #control{
        width:600px;
      }
    }


    @media (max-width: 1025px){
      body{
        background-image: url('..\\images\\back1.2.jpg');
      }
   }


#jumbo{
  height:auto;
  width: auto;
}
