body{
     height: 100%;
     background-size: cover;
     background-repeat: no-repeat;
     background-attachment: fixed;
     font-family: 'Cinzel', serif;
     margin-top:50px;
     color: #293d3d;
    }


    @media (min-width: 1025px )  {
      body{
        background-image: url('..\\images\\back1.jpg');
      }
      #control{
        width:600px;
      }
    }


    @media (max-width: 1025px){
      body{
        background-image: url('..\\images\\back1.2.jpg');
      }
   }


#jumbo{
  height:auto;
  width: auto;
  background-color: white;
}


input[type="text"] {
  height:50px;
  font-size: 25px;
  border: 2px solid black;
}

input[type="text"]:focus{
  border: 2px solid black;
  outline:none;
  background-color: white;
    -webkit-box-shadow: inset 0 0 0px 9999px white;
}

#btn:focus{
  border: 2px solid black;
  outline:none;
  background-color: black;
    -webkit-box-shadow: inset 0 0 0px 9999px black;
}

#btn{
  height:50px;
  font-size: 25px;
  background-color: black;
  color:white;
}
